.basicWrapper{
    width: 80%;
    margin: auto;
}
.centered-aligned {
    text-align: center;
}
.authWrapper{
    width: 500px;
    padding-top: 50px;
    margin: auto;
}
.FadeIn {
  animation: fade-in 0.4s ease-in;
}
.FadeOut {
  animation: fade-out 0.4s ease-out;
}

@keyframes fade-in{
    0%{
      opacity: 0.3;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes fade-out{
    0%{
      opacity: 1;
    }
    80%{
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
  }